* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Jost', sans-serif;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  li{
    list-style: none;
  }
  
  .container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  label {
    background-color: rgb(130, 69, 0);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin: 20px auto;
  }
  
  #display_image{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
  }


  #output__message{
    margin-top: 55px;
    display: none;
    width: 300px;
  }

  .showResult{
    display: block!important;
  }